# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:tlvri1
RewriteEngine on
RewriteCond %{HTTP_HOST} ^mohankhadka.com.np$ [OR]
RewriteCond %{HTTP_HOST} ^www.mohankhadka.com.np$
RewriteRule ^$ http://web.mohankhadka.com.np/ [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE tlvri1:REDIRECTID

Options +FollowSymlinks
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#here is code for hide the directory
Options -Indexes

#default open
DirectoryIndex index.html index.php

# Block people seeing the htaccess file
<Files .htaccess>
order deny,allow
deny from all
</Files>

#here is for error 404 page
ErrorDocument 400 /errors/400.html
ErrorDocument 401 /errors/401.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html

#MENU
RewriteRule ^home/$ index.php [L]
RewriteRule ^about-me/$ about.php [L]
RewriteRule ^photo-gallery/$ gallery.php [L]
RewriteRule ^contact-details/$ contact.php [L]
RewriteRule ^portfolio/$ portfo.php [L]

#GALLERY
RewriteRule -thumb/(.*)x(.*)-(.*)$ assects/resize.php?w=$1&h=$2&f=$3 [L]
#RewriteRule -w-(.*)-h-(.*)/(.*) assects/resize.php?w=$1&h=$2&f=$3 [L]

#RewriteRule ^grab /public/files/download/download.php
###
##RewriteRule -w-(.*)-h-(.*)-f-(.*) resize.php?w=$1&h=$2&f=$3
###

#RewriteRule /w/(.*)/h/(.*)/f/(.*) resize.php?w=$1&h=$2&f=$3
#contactDetails={duplicate} and view_details.php?contact=$1{original}
#RewriteRule ^contactDetails=([0-9]*)$ view_details.php?contact=$1 [L]

#Prevent Cache
<FilesMatch "\.(html|htm|js|css|php)$">
FileETag None
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
</FilesMatch>